body {
    background: linear-gradient(
      to bottom,
      #0f2027,
      #203a43,
      #2c5364
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background: #fff;
    margin-top: 53rem;
  }
  
  .title {
    color: white;
    margin-top: 5rem;
  }
  